.lm-scroll-box{position: relative;height:100%;left: -14px;}
.lm-analysis-panel{pointer-events:none;display:none;color:#FFF;position:absolute;z-index:1;top:0;left:14px;width:260px;height:100%;}
.lm-analy-body{pointer-events:all;padding:5px 0;background:rgba(0,0,0,.6);height:auto;max-height:800px;}

.layer-content{}
.layer-item{}
.layer-item-title{cursor:pointer;user-select:none;line-height: 26px;font-size:12px;padding-left:15px;padding-right:15px;max-width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.layer-item-title i{display:inline-block;width:12px;height:12px;}
.layer-item-title i.arrow{background:url("./images/icon-shousuo.png") center no-repeat;}
.layer-item-title i.checkicon{background:url("./images/icon-weixuanzhong.png") center no-repeat;}
.layer-item-title i.checkicon.active{background:url("./images/icon-xuanzhong.png") center no-repeat;}
.layer-item-title i.checkicon.disabled{opacity:.5;}
.layer-item-title i.arrow.active{background:url("./images/icon-zhankai.png") center no-repeat;}

.layer-item-title i.iconmarker{background:url("./images/icon-wodebiaozhui.png") center no-repeat;}
.layer-item-title i.icondirectory{background:url("./images/icon-wenjianjia.png") center no-repeat;}
.layer-item-title i.icontext{background:url("./images/icon-dianbiaozhu.png") center no-repeat;}
.layer-item-title i.iconpic{background:url("./images/icon-tupian.png") center no-repeat;}
.layer-item-title i.iconvideo{background:url("./images/icon-shipin.png") center no-repeat;}
.layer-item-title i.iconpano{background:url("./images/icon-quanjing.png") center no-repeat;}
.layer-item-title i.iconmodel{background:url("./images/icon-moxingshuju.png") center no-repeat;}
.layer-item-title i.iconlocal{background:url("./images/icon-bendishuju.png") center no-repeat;}
.layer-item-title i.iconshiliang{background:url("./images/icon-shiliangshuju.png") center no-repeat;}
.layer-item-title i.iconpolygon{background:url("./images/icon-mian.png") center no-repeat;}
.layer-item-title i.iconpolyline{background:url("./images/icon-xian.png") center no-repeat;}
.layer-item-title i.iconpointer{background:url("./images/icon-dian.png") center no-repeat;}
.layer-item-title i.iconyingxiang{background:url("./images/icon-yingxiangshuju.png") center no-repeat;}
.layer-item-title i.icondixing{background:url("./images/icon-dixingshuju.png") center no-repeat;}

.layer-item-title i.square{border-radius: 2px;margin-right: 3px;}
.layer-item-title i.iconphase1area{background:url("./images/monomer/icon-sushelouqu.png") center no-repeat;}
.layer-item-title i.iconphase1{background: #7feb48;}

.layer-item-title i.iconphase2area{background:url("./images/monomer/icon-yundongqu.png") center no-repeat;}
.layer-item-title i.iconphase2{background: #fcb801;}

.layer-item-title i.iconphase3area{background:url("./images/monomer/icon-shitangqu.png") center no-repeat;}
.layer-item-title i.iconphase3{background: #fb6a40;}

.layer-item-title i.iconjiaoxuequ{background:url("./images/monomer/icon-jiaoxuequ.png") center no-repeat;}
.layer-item-title i.iconjiaoxuelou{background:#5981fd;}

.layer-item-title i.iconsushequ{background:url("./images/monomer/icon-sushelouqu.png") center no-repeat;}
.layer-item-title i.iconsushelou{background: #7feb48;}

.layer-item-title i.iconyundongqu{background:url("./images/monomer/icon-yundongqu.png") center no-repeat;}
.layer-item-title i.iconyundong{background: #ffb800;}

.layer-item-title i.iconhupoqu{background:url("./images/monomer/icon-hupoqu.png") center no-repeat;}
.layer-item-title i.iconhupo{background: #48ebb3;}

.layer-item-title i.iconshitangqu{background:url("./images/monomer/icon-shitangqu.png") center no-repeat;}
.layer-item-title i.iconshitang{background: #fb6a40;}

.layer-item-title i.icontushuqu{background:url("./images/monomer/icon-tushuguanqu.png") center no-repeat;}
.layer-item-title i.icontushu{background: #825efd;}

.layer-item-title i.iconmysingle{background:url("./images/monomer/icon-mysingle.png") center no-repeat;}

.layer-item-title i.editMono{float:right;margin-top:7px;margin-right:5px;background:url("./images/monomer/icon-bianji.png") center no-repeat;}
.layer-item-title i.deleteMono{float:right;margin-top:7px;background:url("./images/monomer/icon-shanchu.png") center no-repeat;}

.layer-item-title:hover{background-color:rgba(0,0,0,.2);}
.layer-item-content .layer-item-title{padding-left:30px;}
.layer-item-content .layer-item-content .layer-item-title{padding-left:45px;}
.layer-item-content .layer-item-content .layer-item-content .layer-item-title{padding-left:60px;}
.layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-title{padding-left:75px;}
.layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-title{padding-left:90px;}
.layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-title{padding-left:105px;}
.layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-content .layer-item-title{padding-left:120px;}

.layer-action-expand{position: relative;margin-left: 10px;font-size: 17px;top: 1px;background:url("./images/layer-tree-add.png") center no-repeat;}
.layer-action-expand:hover{background:url("./images/layer-tree-add-selected.png") center no-repeat;}
.layer-action-remove{position: relative;margin-left: 6px;font-size: 17px;top: 1px;background:url("./images/layer-tree-delete.png") center no-repeat;}
.layer-action-remove:hover{background-color: #a9a9a7;background:url("./images/layer-tree-delete-selected.png") center no-repeat;}
.layer-action-add{position: relative;margin-left: 10px;font-size: 17px;top: 1px;background:url("./images/layer-tree-add.png") center no-repeat;}
.layer-action-add:hover{background:url("./images/layer-tree-add-selected.png") center no-repeat;}
.layer-action-delete{position: relative;margin-left: 6px;font-size: 17px;top: 1px;background:url("./images/layer-tree-delete.png") center no-repeat;}
.layer-action-delete:hover{background-color: #a9a9a7;background:url("./images/layer-tree-delete-selected.png") center no-repeat;}
.layer-item-title i.icondown{position:relative;top: 2px;margin-left: 10px;background:url("./images/icon-down.png") center no-repeat;}
.layer-item-title i.iconup{position: relative;top: 2px;margin-left: 10px;background:url("./images/icon-up.png") center no-repeat;}
.layer-item-title i.icondown:hover{position:relative;top: 2px;margin-left: 10px;background:url("./images/icon-down-select.png") center no-repeat;}
.layer-item-title i.iconup:hover{position: relative;top: 2px;margin-left: 10px;background:url("./images/icon-up-select.png") center no-repeat;}

.lm-tree-node{position: absolute;top: 32%;left: 20%;font-size: 15px;width: 60%;color: #0b4987;background: #dfdfdf;}
.layer-tree-expand{line-height: 26px;font-size: 14px;margin-top: 3px;}
.tree-second-class{margin-left: 10%;}
.tree-third-class{margin-left: 20%;}
.layer-tree-expand i.checkicon{background:url("./images/checkbox-o.png") center no-repeat;}
.layer-tree-expand i.checkicon.active{background:url("./images/checkbox-selected-o.png") center no-repeat;}